.Reports {
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.likesGraph{
    width: 75%;
    height: 80%;
}

.downloadToCsvDiv{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadToCsvFileDiv a{
    text-decoration: none;
    background-color: var(--color4);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

