body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  --color1: #EAEAEA;
  --color2: #C7C7CC;
  --color3: #8E8E93;
  /* --color4:#C7A140; */
  /* --color4: #BDCDD6; */
  --color4: #8AAAE5;
  font-family: 'Assistant', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
}